.container {
  width: 960px;
  margin: 0 auto;
}
.jumbotron {
  padding: 100px;
  font-size: 17px;
  font-weight: 200;
  line-height: 1.5;
  color: #ececec;
  background-color: #715bde;
  border-radius: 13px;
  font-family: "Helvetica Neue Ultra Light", "Helvetica Neue", "Arial Narrow", "Arial" sans-serif;
}
h1 {
  line-height: 1;
}
p {
  line-height: 1.4;
}
button {
  background: #eee;
  padding: 10px 20px;
}